@font-face {
  font-family: 'Alice';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alice/v18/OpNCnoEEmtHa6FcJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v18/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W79msd3k.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v18/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W71msd3k.ttf) format('truetype');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/josefinslab/v18/lW-swjwOK3Ps5GSJlNNkMalNpiZe_ldbOR4W776rd3k.ttf) format('truetype');
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
section,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
hr,
li,
a,
img,
strong,
em,
span,
form,
input,
textarea,
label,
button,
input::placeholder {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: inherit;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
input,
textarea,
button,
select {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  outline: none;
  box-shadow: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
::selection {
  background: #1e000e;
  color: #afc2d5;
}
.font-primary {
  font-family: 'Josefin Slab', 'Times New Roman', Times, serif;
}
.font-secondary {
  font-family: 'Alice', 'Times New Roman', Times, serif;
}
.form-add {
  flex-grow: 1;
  min-width: 33%;
  max-width: 33%;
}
@media (max-width: 980px) {
  .form-add {
    min-width: 30%;
  }
}
@media (max-width: 640px) {
  .form-add {
    min-width: 100%;
    margin-bottom: 30px;
    flex-grow: unset;
  }
}
.form-add h2 {
  margin-bottom: 1rem;
}
.form-add form label {
  font-size: 1.15em;
}
.form-add form input,
.form-add form textarea {
  background-color: #e5ebf1;
  padding: .5rem;
  margin: .5rem 0 1rem;
  color: #666666;
}
.form-add form input::placeholder,
.form-add form textarea::placeholder {
  color: #999999;
}
.form-add form button {
  border-radius: .2rem;
  background-color: #823038;
  box-shadow: inset 3px 3px 5px #ffffff77, 1px 1px 5px #00000077;
  padding: .7rem 0 .5rem;
  color: #afc2d5;
  transition: all 0.1s ease-in;
}
.form-add form button:hover {
  background-color: #a73e48;
}
.form-add form button:active {
  background-color: #5d2228;
  box-shadow: inset 3px 3px 5px #00000077, 3px 3px 5px #ffffff;
  padding: .5rem 0 .6rem;
}
.form-add .lorem {
  color: transparent;
}
.product {
  background-color: #e5ebf1;
  padding: 10px;
}
.product header h2 {
  color: #823038;
}
.product .product-card_title {
  padding-top: 10px;
}
.product .product-card_price {
  padding-top: 10px;
}
.product .product-card_price p {
  display: inline-block;
}
.product .product-card_price .product-card_price__value {
  font-family: 'Alice', 'Times New Roman', Times, serif;
  padding-left: 10px;
}
.showroom {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  flex-grow: 3;
}
@media (max-width: 980px) {
  .showroom {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 640px) {
  .showroom {
    grid-template-columns: 100%;
    flex-grow: unset;
  }
}
.showroom .showroom-item {
  margin-bottom: 30px;
  max-width: 90%;
  height: 400px;
  overflow: auto;
  display: inline-block;
}
@media (max-width: 640px) {
  .showroom .showroom-item {
    height: unset;
    max-width: 100%;
  }
}
*,
::placeholder,
h1,
h2,
h3 {
  color: #333;
}
*,
::placeholder {
  font-family: 'Josefin Slab', 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
}
h1 {
  font-family: 'Alice', 'Times New Roman', Times, serif;
  font-size: 1.5em;
}
h2 {
  font-family: 'Alice', 'Times New Roman', Times, serif;
  font-size: 1.3em;
}
h3 {
  font-family: 'Josefin Slab', 'Times New Roman', Times, serif;
  font-size: 1.15em;
  font-weight: 700;
}
.app-content {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
@media (max-width: 640px) {
  .app-content {
    flex-direction: column-reverse;
    height: auto;
  }
}
