@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap&family=Josefin+Slab:wght@200;400;700&display=swap');
@import "./reset";
@import "./variables";
@import "./mixins";
@import "../components/FormAdd/style-FormAdd";
@import "../components/Product/style-Product";
@import "../components/Showroom/style-Showroom";

*, ::placeholder, h1, h2, h3{
  color: @color-font-primary;
}
*, ::placeholder{
  .font-primary;
  font-size: 16px;
  font-weight: 300;
}
h1{
  .font-secondary;
  font-size: @font-size-l;
}
h2{
  .font-secondary;
  font-size: @font-size-m;
}
h3{
  .font-primary;
  font-size: @font-size-s;
  font-weight: 700;
}

.app-content{
  height: 100vh;
  background-color: @color-bg-primary;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}