.form-add{
  flex-grow: 1;
  min-width: 33%;
  max-width: 33%;
  @media @breaking-point-980 {
    min-width: 30%;
  }
  @media @breaking-point-640 {
    min-width: 100%;
    margin-bottom: 30px;
    flex-grow: unset;
  }
  h2{
    margin-bottom: 1rem;
  }
  form{
    label{
      font-size: 1.15em;
    }
    input, textarea, select{
      .input-area;
      margin: .5rem 0 1rem;
    }
    button{
      border-radius: .2rem;
      background-color: @color-2;
      box-shadow: inset 3px 3px 5px #ffffff77, 1px 1px 5px #00000077;
      padding: .7rem 0 .5rem;
      color: @color-4;
      transition: all .1s ease-in;
      &:hover{
        background-color: lighten(@color-2, 10%);
      }
      &:active{
        background-color: darken(@color-2, 10%);
        box-shadow: inset 3px 3px 5px #00000077, 3px 3px 5px #ffffff;
        padding: .5rem 0 .6rem;
      }
    }
  } 
  .lorem{
    color: transparent;
  }
}